<h1>Book a flight</h1>
<%= form_with method: :get do |f| %>
  <%= f.label :departure_airport_id %>
  <%= f.select :departure_airport_id, @airport_options %>
  <br>
  <%= f.label :arrival_airport_id %>
  <%= f.select :arrival_airport_id, @airport_options %>
  <br>
  <%= f.label :start, "Date" %>
  <%= f.select :start, @date_options %>
  <br>
  <%= f.label :passengers, "Number of passenger" %>
  <%= f.select :passengers, 4.times.map { |i| [i+1, i+1]} %>
  <br>
  <%= f.submit "Find flight" %>
<% end %>

<% if !@flights.exists? && params.has_key?(:start) %>
  <p>No flights available :(</p>
  <p>Try searching with different parameters</p>
<% elsif @flights.exists? %>
  <p>Showing results for flights:</p>
  <ul>
    <li>From: <%= @flights.first.departure_airport.code %></li>
    <li>To: <%= @flights.first.arrival_airport.code %></li>
    <li>Date: <%= @flights.first.start.to_date %></li>
  </ul>
  <%= form_with url: "bookings/new", method: :get do |f| %>
    <%= f.hidden_field :passengers, value: params[:passengers] %>
    <%= f.collection_radio_buttons :flight_id, @flights, :id, :start_time %>
    <br>
    <%= f.submit "Book flight" %>
  <% end %>
<% end %>