<h1>Booking <%= @booking.id %></h1>
<h2>Flight details</h2>
<ul>
    <li>From: <%= @booking.flight.departure_airport.code %></li>
    <li>To: <%= @booking.flight.arrival_airport.code %></li>
    <li>Date: <%= @booking.flight.start.to_date %></li>
    <li>Time: <%= @booking.flight.start_time %></li>
</ul>
<h2>Passengers</h2>
<% @booking.passengers.each do |passenger| %>
  <div>
    <p>Name: <%= passenger.name %></p>
    <p>Email: <%= passenger.email %></p>
  </div>
  <br>
<% end %>